body {
  font-family: 'Acme', sans-serif;
}

#movies img,
#movie img {
  width: 100%;
}
.brand-text {
  font-size: 2rem;
}
#react-logo {
  color: #00d8ff;
}
#imdb-logo {
  color: #ffc414;
}
@media (min-width: 960px) {
  #movies .col-md-4 .well {
    height: 390px;
  }

  #movies .col-md-4 img {
    height: 240px;
  }
}
